Data/**
**/__pycache__
**/*.mp4
**/*.avi
**/.idea
**/.DS_Store
**/video_frames
**/yolov5s.pt
.vscode/
config/**
Week2/results/
Week3/results/
c6/
Week4/Task2/vehicle_mtmc
*.pkl
Week4/Task2/Data/**
Week4/outputs
Week4/aic19-track1-mtmc-train
Week5/videos
Week5/frames
Week5/data
Week5/logs
Week5/videos.zip
Week5/weights